<%- include("partials/header") -%>

<h1>Home</h1>
<p><%= homeStartingContent %></p>

<% posts.forEach( item =>{ %>
  <h1><%=item.title %></h1>
  <% if(item.blogBody.length > 100){ %>
    <p><%= item.blogBody.substring(0,100) + " ..." %> <a href="/post/<%=item.title%>">Read More </a></p>
    <% } else{ %>
    <p><%=  item.blogBody %> <a href="/post/<%=item.title%>">Read More</a></p>  
    <% } %>
  
<% }) %>


<%- include("partials/footer") -%>
